.main { 
    width: 15rem;
}
img {
    padding: 10px;
}

.album {
    width: 50%;
    margin: 0 auto;
    background-color:black;
}
.stretched-link {
    z-index:-1;
}

.toasts {
    background-color:blue;
    color: blue;
    position:absolute;
    margin-left:10em;
}
.toasts .bodys{
    background-color: white;
}
.thumbs-up {
    margin: 5px;
}