.AlbumGrid {
    padding:3vh;
    padding-left:4vw;
}

.mainForm {
    color: #f8f9fa;
    padding-left:30vh;
    padding-right:30vh;
    max-width:75vh auto;
    text-align:center;
    width:max-content;
}

.checkBox {
    text-align:left;
}
