hr {
    background: black;
    height:1px !important;
}
img {
    padding-left: 5px;
    padding-right: 5px;
    height:auto;
    width:auto;
}
.ratings {
    padding-left:20px !important;
    padding-top:10px;

}
.accordian {
    background-color:#343a40!important;
}
.albumInfo {
 
   text-align:right;
}

/* This removes the underlines on the selectable
albums */
a {
    text-decoration:none !important;
}
.sel-album:hover {
    background-color:#353a40 !important;
}

.artistInfo {
    text-align:center;
    text-overflow:ellipsis !important;
    width: 40vh;
    overflow:hidden;
    white-space:nowrap;
}
.artistInfo.selectable:hover {
    overflow:visible;
    text-overflow:unset;
    height:auto;
    white-space:normal;
    text-decoration:none !important;
}
.card-img-top.selectable {
    max-width: 45vh;
    max-height: 45vh;
}

.card {
    height:max-content;
    margin-left:1rem;
 /*   flex-direction:row !important */
;
}
/* Standard rule for mobile */
.unClickable {
    width: 100vw;
    justify-content: center;
}

/* for Desktop/Laptop */
@media only screen and (min-width: 981px) { 
    .unClickable {
        width:60vw;
        justify-content: center;
    }
}

.selectable {
    margin: 10px auto !important;
    height:max-content !important;
}

.toasts {
    color: blue;
    position:absolute;
    margin-left:10em;
}

.toasts .bodys{
    background-color: white;
}

.thumbs-up {
    margin: 10px;
    color:blue;
}
