.trackName {
    font-size:150%;
    display: inline;
    text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap;
    width: 50vw;
}

li:hover {
    background-color: #343a40;
}
.like {
    display:inline;
    font-size:150%;
    float:right;
    z-index:10;
}
