.addAlbum {
    width:50%;
    margin: 0 auto;
}

.mainForm {
    color: #f8f9fa;
    width:100%;
    text-align:center;
    padding-top:15px;
    padding-bottom:30px;
}

.checkBox {
    text-align:left;
}